<div class="nav-bar">
  <h2><%= link_to "Online Shop", products_path%> </h2>
  <div class="nav-bag">
    <%= link_to new_order_path do %>
        <i class="bi bi-arrow-left"></i>
        <span>Start shopping</span>
    <% end %>
    <span class="bag-quantity"></span>
    <span>3</span>
  </div>
</div>
